.table {
    width: 100%;

    text-align: center;
    font-size: 24px;

background-color: #fff;
border-radius: 10px;
-webkit-box-shadow: 0px 0px 4px 1px rgba(47, 101, 156, 0.2);
-moz-box-shadow: 0px 0px 4px 1px rgba(47, 101, 156, 0.2);
box-shadow: 0px 0px 4px 1px rgba(47, 101, 156, 0.2);

}


.head {
    background-color: #00bcd5;
    color: #fff;
    text-transform: uppercase;
   
    
}

.item {
  padding: 20px;
}

.bodyItem:not(:last-child) {
    padding: 20px;

    border-right: 1px solid black;
}


.bodyItem:nth-child(2n) {
    background-color: #ecf1f4;
}
